extends layout

block variables
	- var title = "Home"

block content
	h2.text-center Home?

	.row
		.offset-sm-2.col-sm-8
			.jumbotron.text-center.
				Ok... visit #[a(href="https://github.com/blakeface/user_auth_node") GitHub] to see the code